**/auto/*
**/aux/*
*.aux
*.lof
*.log
*.lot
*.fls
*.out
*.toc
*.fmt
*.fot
*.cb
*.cb2
.*.lb

*.acn
*.acr
*.alg
*.glg
*.glo
*.gls
*.glsdefs
*.idx
*.ilg
*.ind

*.bbl
*.bcf
*.blg
*-blx.aux
*-blx.bib
*.run.xml
*.fdb_latexmk
*.synctex
*.synctex(busy)
*.synctex.gz
*.synctex.gz(busy)
*.pdfsync
*.abx
*.syx

*.lab
*.los
*.nav
*.snm


*.md5
*.dpth
*.bpn
*.auxlock
